.show {
  display: block;
}
.hide {
  display: none;
}
.main {
  width: 90%;
  margin: auto;
}
.top-header {
  font-size: 20px;
}
.middle-form-wrapper {
  margin-top: 3%;
}
.nautical-distance-wrapper {
  height: 100px;
}
#map {
  width: 100%;
  height: 400px;
}
.no-margin input {
  margin-bottom: 0;
}
.bold {
  font-weight: 700;
  font-size: 18px;
}
